size=10
#perlin noise generator
<generator
	#how much amplitude falls off over octaves
    persistence=1
	
	#frequency of noise
	frequency=0.05
	
	#amplitude of height map
	amplitude=30
	
	#number of "passes" for height
	octaves=2
>
<chunk
	#number of heightmap points per chunk
    pointsPerChunk=20
>
<visual
    color=red
>