size=4
renderDistance=2
#perlin noise generator
<generator
	#how much amplitude falls off over octaves
    persistence=0.5
	
	#frequency of noise
	frequency=1.0
	
	#amplitude of height map
	amplitude=1
	
	#number of "passes" for height
	octaves=5
>
<chunk
	#number of heightmap points per chunk
    pointsPerChunk=100
>
<visual
    color=red
>