size=20
renderDistance=10
#perlin noise generator
<generator
	#how much amplitude falls off over octaves
    persistence=0.2
	
	#frequency of noise
	frequency=0.05
	
	#amplitude of height map
	amplitude=20
	
	#number of "passes" for height
	octaves=5
>
<chunk
	#number of heightmap points per chunk
    pointsPerChunk=20
>
<visual
    color=red
>